
@import "../../styles/abstracts/variables";
@import '../../styles/abstracts/mixins';

.section {
    &Light {
        background-color: $color-gray-900;
    }
    &White {
        background-color: $color-main-white;
    }
}


.thisElement {
    padding-top: $grid-spacing-64;
    padding-bottom: $grid-spacing-64;
}

// SELECTOR STYLES

.flexRow {
    display: flex;
    align-items: center;
    margin-bottom: $grid-spacing-24;


    &ItemLeft {
        flex-basis: 25%;
        text-align: left;
    }

    &ItemCenter {
        flex-basis: 50%;
        text-align: center;
    }

    &ItemRight {
        flex-basis: 25%;
        text-align: right;
    }

    &:last-child {
        margin-bottom: 0;
    }

        // Layout change to PHONE
        @include respond(phone_Portrait) { // < 640
            flex-direction: column;
        }

}

.row {
    text-align: center;

    margin-bottom: $grid-spacing-24;

    &:last-child {
        margin-bottom: 0;
    }

}