

@import "./functions";






// Color

$color-main-primary: #EC1C24;
$color-main-white: #FFFFFF;
$color-main-black: #000000;

$color-gray-100: #121212;

$color-gray-600: #6B6B6B;
$color-gray-700: #AEAEAE;
$color-gray-900: #F6F6F6;

$color-text-primary: #0f0f0f;
$color-text-secondary: #868686;
$color-text-white: #F6F6F6;






// Grid

$grid-maxWidth: 1680px;


$grid-spacing-neg6: rem(-6);

$grid-spacing-6: rem(6);

$grid-spacing-12: rem(12);
$grid-spacing-24: rem(24);

//$grid-spacing-32: rem(32);
$grid-spacing-48: rem(48);

$grid-spacing-64: rem(64);

$grid-spacing-128: rem(128);













// $grid-lineHeight-title_1: rem(88);
// $grid-lineHeight-title_2: rem(56);
// $grid-lineHeight-title_3: rem(40);

// $grid-lineHeight-headline: rem(32);

// $grid-lineHeight-body_1: rem(32);
// $grid-lineHeight-body_2: rem(28);

// $grid-lineHeight-subhead: rem(24);
// $grid-lineHeight-code: rem(24);