
@import "../styles/abstracts/variables";
@import "../styles/base/typography";



.section {

    &White {
        background-color: $color-white;
    }

    &Light {
        background-color: $color-gray-900;
        color: $color-gray100;
    }
    
    &Dark {
        background-color: $color-gray-100;
        color: $color-gray900;
    }


}

.letterBox {
    padding-top: $spacing-64;
    padding-bottom: $spacing-64;
}

// SELECTOR STYLES

