
//@import "../styles/abstracts/functions";
@import "../styles/abstracts/variables";





.p {
    margin-bottom: $spacing-24;

}

.h2 {
    padding-top: $spacing-48;

    margin-bottom: $spacing-24;
}

.h3 {
    padding-top: $spacing-12;

    margin-bottom: $spacing-24;
}

.ul {

    margin-bottom: $spacing-24;

    list-style-position: outside;
    padding-left: $spacing-24;
    

}

.li {
    margin-bottom: $spacing-12;

    &::before {
        content: '-';
        position:absolute;

        margin-left: rem(-24);
    }
}

.code {
    color: $color-primary;
}





.autolinkHeadings {
    //outline: none;
    font-weight: 600;
    opacity: 0;
    margin-left: $spacing-4;
    color: $color-primary;

    // &:hover {
    //     opacity: 100;
    // }
}

.heading:hover .autolinkHeadings {
    opacity: 100;
}




    
        //padding-inline-start: 40px;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // padding-inline-start: 40px;
    // padding-inline-end: 40px;