

@import "../styles/abstracts/variables";

.section {
    background-color: $color-gray-900;
}
.letterBox {
    padding-top: $grid-spacing-64;
    padding-bottom: $grid-spacing-128;
}

.tilesContainer {
    text-align: center;
    margin: $grid-spacing-neg6;
    //background-color: red;
}

.image {
    display: inline-block;

    // Small spacing issue
    vertical-align: bottom;
    line-height: 0;


    margin: rem(6);

    // max-width: 960px;
    // max-height: 760px;
}