
@import "../styles/abstracts/variables";
@import "../styles/base/typography";

.section {
    background-color: $color-gray900;
}

.wrapper {
 
        max-width: 1476px;
      
        margin-left: auto;
        margin-right: auto;
      
        padding-left: $spacing-48;
        padding-right: $spacing-48;
 
}

.letterBox {
    padding-top: $spacing-64;
    padding-bottom: $spacing-128;


}


.tilesContainer {
    display: flex;
    flex-wrap: wrap;

    margin: $grid-spacing-neg6;


    .tile {
        // The size of the padding as a percentage, relative to the width of the containing block.
        padding-top: calc(592 / 1392 * 100%);

        //background-color: red;
        position: relative;

        flex-grow: 1;
        flex-shrink: 0;

        &Large {
            flex-basis: 50%;
        }

        &Small {
            flex-basis: 25%;
        }

        .card {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            margin: $grid-spacing-6;

            display: flex;
            flex-direction: column;



            //background-color: blue;


            .imageFrame {
                cursor: pointer;
                flex-grow: 1;
                flex-shrink: 0;

                background-position: center;
                background-size: cover;
            }


            .textFrame {
                background-color: $color-main-white;
                padding: $grid-spacing-24;

                .flexItem {
                    color: $color-text-primary;
                    z-index: 1;
                }
    
                .metaFrame {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: $grid-spacing-12;

                    .metaDate {
                        color: $color-text-secondary;
                    }
                }
    
                .titleFrame {
                    min-height: rem(96); //TODO CONVERT TO HEADLINE LINE HEIGHT
                }
            }

        }

    }








}

.tiles {
    display: flex;
    flex-wrap: wrap;

    margin-top: $spacing-neg6;
    margin-right: $spacing-neg6;
    margin-bottom: $spacing-neg6;
    margin-left: $spacing-neg6;

    //background-color: blue;

    .tile {

        flex-grow: 1;
        flex-shrink: 1;
        
        height: 600px;
    
        margin-top: $spacing-6;
        margin-right: $spacing-6;
        margin-bottom: $spacing-6;
        margin-left: $spacing-6;
    
        background-color: gray;
    
        &Large {
            flex-basis: 49%;
        }



        &Small {
            flex-basis: 24%;
        }

        display: flex;
        flex-direction: column;
    
    }

    .imageBox {
        flex-grow: 1;
    }
    .copyBox {
        padding: $spacing-24;
        background-color: white;

        .copyBoxMain {
            min-height: rem(96);

            color: $color-text-primary
        }

        .copyBoxMeta {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing-12;

            .metaDate {
                color: $color-text-secondary
            }
        }

    }

}

