
@import "../styles/abstracts/variables";



.section {
    background-color: $color-white;
}

.thisElement {
    padding-top: $spacing-64;
    padding-bottom: $spacing-128;
}

// SELECTOR STYLES




.title {
    margin-bottom: $spacing-32;
}

.categoryTime {
    color: $color-gray600;
}