

@import "../../styles/abstracts/variables";
@import '../../styles/abstracts/mixins';





.tile {
    position: relative;

    flex-grow: 1;
    flex-shrink: 0;


    // The size of the padding as a percentage, relative to the width of the containing block.
    padding-top: calc(592 / 1392 * 100%);
    @include respond(phone_Portrait) {
        padding-top: 60%;
    }
    @include respond(phone_Portrait_S) {
        padding-top: 70%;
    }

    &Large {
        flex-basis: 50%;
        @include respond(tablet_Portrait) {
            flex-basis: 33%;
        }
        @include respond(phone_Portrait) {
            flex-basis: 50%;
        }
    }

    &Small {
        flex-basis: 25%;
        @include respond(tablet_Portrait) {
            flex-basis: 33%;
        }
        @include respond(phone_Portrait) {
            flex-basis: 50%;
        }
    }
}






.card {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: $grid-spacing-6;

    display: flex;
    flex-direction: column;



    //background-color: blue;


    .imageFrame {
        cursor: pointer;
        flex-grow: 1;
        flex-shrink: 0;

        background-position: center;
        background-size: cover;
    }


    .textFrame {
        background-color: $color-main-white;
        padding: $grid-spacing-24;

        .flexItem {
            color: $color-text-primary;
            z-index: 1;
        }

        .metaFrame {
            display: flex;
            justify-content: space-between;
            margin-bottom: $grid-spacing-12;

            .metaDate {
                color: $color-text-secondary;
            }

            @include respond(phone_Portrait_S) {
                flex-direction: column;
            }
        }

        .titleFrame {
            min-height: rem(96); //TODO CONVERT TO HEADLINE LINE HEIGHT
        }
    }

}