


@import "../../styles/abstracts/variables";




.ArticleHeader {
    .copyFrame {


        .titleFrame {

            text-align: center;
            margin-bottom: $grid-spacing-48;
        }
        .metaFrame {
            text-align: center;
        }
    }

}

.letterbox {

    &_12_12 {
        padding-top: $grid-spacing-12;
        padding-bottom: $grid-spacing-12;
    }

    &_0_24 {
        padding-bottom: $grid-spacing-24;
    }

    &_24_24 {
        padding-top: $grid-spacing-24;
        padding-bottom: $grid-spacing-24;
    }

}


.codeFrame {


    padding: $grid-spacing-24;

    border-radius: $grid-spacing-6;
}




.ul {

    list-style-position: outside;
    padding-left: $grid-spacing-24;

}

.li {
    margin-bottom: $grid-spacing-12;

    &::before {
        content: '--';
        position:absolute;

        margin-left: rem(-24);
    }
}


.inlineCode {
    color: $color-main-primary;
}







































// .code {
//     
// }








// .code {
//     .letterBox {
//         margin-top: $grid-spacing-24;

//         pre {
//             border-radius: 4px;
//         }
//     }
// }






// .sectionImage {
//     text-align: center;
//     .nextImageFrame {
//         margin-bottom: $grid-spacing-48;
//     }
// }




        //padding-inline-start: 40px;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // padding-inline-start: 40px;
    // padding-inline-end: 40px;


        // &:hover {
    //     opacity: 100;
    // }