
@import "../../styles/abstracts/variables";



.section {
    background-color: $color-gray-900;
}

.wrapper {
 
    max-width: 1476px;
  
    margin-left: auto;
    margin-right: auto;
  
    padding-left: $grid-spacing-48;
    padding-right: $grid-spacing-48;

}

.letterBox {
padding-top: $grid-spacing-64;
padding-bottom: $grid-spacing-128;
}


// SELECTOR STYLES

.tilesContainer {
    display: flex;
    flex-wrap: wrap;

    margin: $grid-spacing-neg6;

}


