


@import "../../styles/abstracts/variables";




.sectionTitle {
    .letterBox {
        padding-top: $grid-spacing-64;
        padding-bottom: $grid-spacing-64;
    }
    .titleFrame {
        text-align: center;
        margin-bottom: $grid-spacing-48;
    }
    .metaFrame {
        text-align: center;
    }
}

.sectionImage {
    text-align: center;
    .nextImageFrame {
        margin-bottom: $grid-spacing-48;
    }
}








.p {
    margin-bottom: $grid-spacing-24;
}


.h2 {
    padding-top: $grid-spacing-24;
    margin-bottom: $grid-spacing-24;
}

.h3 {
    padding-top: $grid-spacing-24;
    margin-bottom: $grid-spacing-24;
}

.ul {

    margin-bottom: $grid-spacing-24;

    list-style-position: outside;
    padding-left: $grid-spacing-24;

}

.li {
    margin-bottom: $grid-spacing-12;

    &::before {
        content: '-';
        position:absolute;

        margin-left: rem(-24);
    }
}

.code {
    color: $color-main-primary;
}









.autolinkHeadings {
    //outline: none;
    font-weight: 600;
    opacity: 0;
    margin-left: $grid-spacing-24;
    color: $color-main-primary;

    // &:hover {
    //     opacity: 100;
    // }
}

.heading:hover .autolinkHeadings {
    opacity: 100;
}

    
        //padding-inline-start: 40px;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // padding-inline-start: 40px;
    // padding-inline-end: 40px;

.code {
    .letterBox {
        margin-top: $grid-spacing-24;

        pre {
            border-radius: 4px;
        }
    }
}

