





.wrapper {

    max-width: $grid-maxWidth;


    margin-left: auto;
    margin-right: auto;
  
    padding-left: $grid-spacing-48;
    padding-right: $grid-spacing-48;
  }
  
  




.columns {
    display: flex;
  
    .columnHeader {
        margin-bottom: $grid-spacing-24;
  
        &Centered {
            text-align: center;
        }
    }
  
    .column {
        padding-right: $grid-spacing-24;
        padding-left: $grid-spacing-24;
  
        &_1x {
            flex-basis: 25%;
    
        }
        &_2x {
            flex-basis: 50%;
    
        }
        &_4x {
            flex-basis: 100%;
        }
    }
  }
  


  .singleColumn {

    &Centered {
        text-align: center;
    }


    max-width: 864px;
    margin: auto;

    padding-left: $grid-spacing-48;
    padding-right: $grid-spacing-48;
  }