


.section {
    &White {
        background-color: $color-main-white;
        color: $color-text-primary;
    }
    &Light {
        background-color: $color-gray-900;
        color: $color-text-primary;
    }
    &Dark {
        background-color: $color-gray-100;
        color: $color-text-white;
    }

}


.wrapper {

    max-width: $grid-maxWidth;


    margin-left: auto;
    margin-right: auto;
  
    padding-left: $grid-spacing-48;
    padding-right: $grid-spacing-48;

    // Layout change header change
    @include respond(phone_Portrait) { // < 640
        padding-left: $grid-spacing-12;
        padding-right: $grid-spacing-12;
    
    }

    &.share {
        max-width: 864px;

        margin-left: auto;
        margin-right: auto;
    
        padding-left: $grid-spacing-48;
        padding-right: $grid-spacing-48;
    

    }
  }






.columns {


    display: flex;
    flex-wrap: wrap;

    flex-shrink: 1;
    flex-grow: 0;
  
    .columnHeader {
        margin-bottom: $grid-spacing-24;
  
        &Centered {
            text-align: center;
        }
    }
  
    .column {
        padding-right: $grid-spacing-24;
        padding-left: $grid-spacing-24;



        &_1x {
            flex-basis: 25%;
        }
        &_2x {
            flex-basis: 50%;
    
        }
        &_4x {
            flex-basis: 100%;
        }

        &ForceBottomMargin {
            margin-bottom: $grid-spacing-64;
        }

        @include respond(tablet_Portrait) { // < 1200px

            &_1x {
                flex-basis: 50%;
                &:nth-child(1){
                    margin-bottom: $grid-spacing-64;
                }
                &:nth-child(2){
                    margin-bottom: $grid-spacing-64;
                }
            }

        }




            // Layout change header change
        @include respond(phone_Portrait) { // < 640
            &_1x {
                flex-basis: 100%;
                text-align: center;
            }
            &_2x {
                flex-basis: 100%;
                text-align: center;
            }
            margin-bottom: $grid-spacing-64;
            &:last-child{
                margin-bottom: 0;
            }
        }



    }

  }
  


