



@import "../../styles/abstracts/variables";
@import "../../styles/base/animations";
@import '../../styles/abstracts/mixins';





// SELECTOR STYLES

.logoFrame {
    display: none;

    margin-bottom: $grid-spacing-48;

    text-align: center;

    @include respond(phone_Portrait) {
        display: block;
    }
}


.nav {
    padding-right: $grid-spacing-24;
    padding-left: $grid-spacing-24;

    display: flex;
    justify-content: space-between;




    .introFrame {

        .tagline {
            display: inline-block;
            animation-name: moveInRight;
            animation-duration: $anim-timing-lazy;
            animation-timing-function: ease-out;
        }

        @include respond(phone_Portrait) {
            display: none;
        }

    }




    .navFrame {
        display: flex;

        .item {
            margin-right: $grid-spacing-24;

            &:last-child {
                margin-right: 0;
            }
        }

        @include respond(phone_Portrait) {
            margin-left: auto;
            margin-right: auto;
        }
    }


}














// .spacer {
//     background-color: rgba(0,0,0,0);
//     color: rgba(0,0,0,0);
// }


// .nextImage img {
//     img {
//         border-radius: 18px;
//     }

// }


// .ulist {
//     display: flex;

//     padding-right: $grid-spacing-24;
//     padding-left: $grid-spacing-24;

//     .tagline {
//         display: inline-block;
//         animation-name: moveInRight;
//         animation-duration: 2.2s;
//         animation-timing-function: ease-out;
//     }

//     .item {
//         margin-right: $grid-spacing-24;

//         &:nth-child(2) {
//             margin-left: auto;
//         }
    
//         &:last-child {
//             margin-right: 0;
//         }

//     }

// }

