



@import "../../styles/abstracts/variables";
@import "../../styles/base/animations";
@import '../../styles/abstracts/mixins';


.section {

    //position: absolute;
    //top: 0px;

    width: 100%;
    z-index: 999;


    &White {
        background-color: $color-main-white;
    }

    &Light {
        background-color: $color-gray-900;
        color: $color-gray-100;
    }
    
    &Dark {
        background-color: $color-gray-100;
        color: $color-gray-900;
    }
    
}


.letterBox {
    padding-top: $grid-spacing-48;
    padding-bottom: $grid-spacing-48;
}


// SELECTOR STYLES

.nav {
    padding-right: $grid-spacing-24;
    padding-left: $grid-spacing-24;

    display: flex;
    justify-content: space-between;




    .introFrame {

        .tagline {
            display: inline-block;
            animation-name: moveInRight;
            animation-duration: 2.2s;
            animation-timing-function: ease-out;
        }

        @include respond(phone_Portrait) { // < 640
            display: none;
        }

    }


    .navFrame {
        display: flex;

        .item {
            margin-right: $grid-spacing-24;

            &:last-child {
                margin-right: 0;
            }
        }

        @include respond(phone_Portrait) { // < 640
            margin-left: auto;
            margin-right: auto;
        }
    }
}


.spacer {
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
}


// .nextImage img {
//     img {
//         border-radius: 18px;
//     }

// }




.logoFrame {
    display: none;


    margin-bottom: $grid-spacing-48;

    text-align: center;

    @include respond(phone_Portrait) { // < 640
        display: block;
    }
}





.imageFrame {

   display: inline-block;

    // Small spacing issue
    vertical-align: bottom;
    line-height: 0;




}
















// .ulist {
//     display: flex;

//     padding-right: $grid-spacing-24;
//     padding-left: $grid-spacing-24;

//     .tagline {
//         display: inline-block;
//         animation-name: moveInRight;
//         animation-duration: 2.2s;
//         animation-timing-function: ease-out;
//     }

//     .item {
//         margin-right: $grid-spacing-24;

//         &:nth-child(2) {
//             margin-left: auto;
//         }
    
//         &:last-child {
//             margin-right: 0;
//         }

//     }

// }

