



@import "../../styles/abstracts/variables";





.a {


    text-decoration: none;
    transition: .22s;

    &:link {
        color: inherit;
    }
    &:visited {
        color: inherit;
    }

    &:hover
    {

        color: $color-main-primary;
    }

    // &:focus
    // {
        
    // }







    &.invisible {

        color: rgb(219, 219, 219);
        text-decoration: none;
        transition: .22s;

        &:hover
        {
            color: $color-main-primary;
        }

    }

}



