
@import "./abstracts/variables";
@import "./abstracts/mixins";

@import "./base/base";
@import "./base/grid";
@import "./base/typography";



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}




HTML, body, * {
  margin: 0;
  padding: 0;
  border: 0;
  }


// a {
//   text-decoration: none;
//   color: $color-text-primary;
// }

h1 {
  margin: 0;
  font-weight: unset;
}

h2 {
  margin: 0;
  font-weight: unset;
}

h3 {
  margin: 0;
  font-weight: unset;
}

ul {
  list-style: none;
}
  

b, strong {
  font-weight: 600;
}


a {
  text-decoration: none;
}

.myHeading {
 display: inline-block;


    .rehypeAutolinkHeadings {
      color: $color-main-primary;
      //color: blue;
      //outline: none;
      font-weight: 600;
      opacity: 0;
      padding-left: $grid-spacing-6;
      padding-right: $grid-spacing-6;
      
      transition: $anim-timing-snappy;

    }


    &:hover .rehypeAutolinkHeadings {
      opacity: 100;
  
    }
}

// Prism code wrap
pre[class*="language-" ],
code[class*="language-"] {

  //white-space: normal;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;

  

}


